.top-bar-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    color: #424242;
    position: absolute;
    top: 0;
    height: 72px;
    background-color: #bbdefb;
  }
  
  .top-bar-text {
    display: flex;
  }
  